{% extends "blog/base.html" %}

{% block title %}Recycle Bin{% endblock %}


{% block body %}
<div id="content" class="container">
    <h1>
        Recycle Bin |
        <small><a href="{% url 'blog:show_articles' %}" class="btn btn-warning btn-sm">Articles</a></small>
    </h1>
    <hr>
    <a href="{% url 'blog:restore_all' %}" class="btn btn-primary">Restore all articles</a> |
    <a href="{% url 'blog:delete_all' %}" class="btn btn-danger">Delete all articles</a>
    <hr>
    {% for article in articles %}
    <div class="article" class="card">
        <div class="card-body">
            <h2 class="card-title">{{ article.title }}</h2>
            <a href="{% url 'blog:restore_article' article.id %}" class="btn btn-primary btn-sm">restore</a> |
            <a href="{% url 'blog:delete_article' article.id %}" class="btn btn-danger btn-sm">delete</a>
        </div>
    </div>
    <hr>
    {% empty %}
    <p>Recycle Bin is empty</p>
    {% endfor %}
</div>
{% endblock %}