<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Recycle Bin</title>
    </head>
    <body>
        <h1>Recycle Bin | <small><a href="{% url 'blog:show_articles' %}">Articles</a></small></h1>
        <a href="{% url 'blog:restore_all' %}">Restore all articles</a> |
        <a href="{% url 'blog:delete_all' %}">Delete all articles</a>
        {% if articles %}
        {% for article in articles %}
        <h2>{{ article.title }}</h2>
        <a href="{% url 'blog:restore_article' article.id %}">restore</a> |
        <a href="{% url 'blog:delete_article' article.id %}">delete</a>
        <hr>
        {% endfor %}
        {% else %}
        <p>Recycle Bin is empty</p>
        {% endif %}
    </body>
</html>
